.mobilenav {
    display: none;
  }
  
.mobilenav__list {
    display: none;
    opacity: 0;
    pointer-events: none;
}
  
.mobilenav__item {
    display: none;
    opacity: 0;
    visibility: hidden;
}
  
.mobilenav__line,
.mobilenav__line-container {
    display: none;
}
  .mobilenav__checkbox {
    display: none;
}
  
@media (max-width: 550px) {
.mobilenav {
    display: flex;
    width:100%;
    padding-top:2.5%;
    padding: 2.5% 1rem;
    background: transparent;
    position: fixed;
    gap: 6px; 
    z-index: 1;
}
.mobilenav__list {
    display: block;

  }
  
  .mobilenav__item {
    display: block;
  }
  
  .mobilenav__line,
  .mobilenav__line-container {
    display: block;
  }
  .mobilenav__checkbox {
    display: block;
}

.mobilenav__list{
    margin-top: 10%;
    padding-top:35vh;
    position:fixed;
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: 0;
    z-index: 900;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.mobilenav__checkbox {
    display: none;
}

.mobilenav__list-active{
    opacity: 1;
    display: block;
    transition: opacity 0.25s ease, transform 0.25s ease;
}
.mobilenav__checkbox:checked + .mobilenav__list .mobilenav__item {
    visibility: visible;
    animation: dropDown 0.4s forwards ease;
}

.mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(1) {
    animation-delay: 0.3s;
  }
  .mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(2) {
    animation-delay: 0.6s;
  }
  .mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(3) {
    animation-delay: 0.9s;
  }
@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mobilenav__item {
    opacity: 0;
    transform: translateY(-10px);
    animation: none; 
    visibility: hidden;

    overflow:hidden;
  }

.mobilvenav__image{
    object-fit: contain;
    width:8%;
    border-radius:50%;
}
.mobilenav__line-container{
    background: transparent;
    width: 100%;
    display:flex;
    gap:.2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.mobilenav__line-active{
    z-index:1000;
    transform: rotate(45deg) translate(1px, 6px);
}
.mobilenav__line {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}
  
.line1Active {
    transform: rotate(45deg) translate(1px, 6px);
    }
  
.line2Active {
    transform: rotate(-45deg) translate(1px, -6px);
}
}
