.mobilenav {
    display: none;
  }
  
.mobilenav__list {
    display: block; 
    opacity: 0;
    pointer-events: none;
}
  
.mobilenav__item {
    display: block; 
    opacity: 0;
    visibility: hidden;
}
  

  .mobilenav__checkbox {
    display: none;
}
  
@media (max-width: 550px) {
.mobilenav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5% 1rem;
    background: transparent;
    position: fixed;
    gap: 6px; 
    z-index: 1000;
} 


.mobilenav__list{
    padding-top:35vh;
    position:fixed;
    margin:0;
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: 0;
    z-index: 900;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.mobilenav__checkbox {
    display: none;
}

.mobilenav__list-active{
    opacity: 1;
    display: block;
    pointer-events: auto;
    transition: opacity 0.25s ease, transform 0.25s ease;
}
.mobilenav__checkbox:checked + .mobilenav__list .mobilenav__item {
    visibility: visible;
    animation: dropDown 0.4s forwards ease;
}

.mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(1) {
    animation-delay: 0.3s;
  }
  .mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(2) {
    animation-delay: 0.6s;
  }
  .mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(3) {
    animation-delay: 0.9s;
  }
  .mobilenav__checkbox:checked ~ .mobilenav__list li:nth-child(4) {
    animation-delay: 1.2s;
  }

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mobilenav__item {
    display: block;
    opacity: 0;
    transform: translateY(-10px);
    animation: none;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    z-index: 1000;
}

.mobilenav__item a {
    text-decoration: none;
    color: grey;
    z-index: 1000;
 }
.mobilenav__item.active a{
    color: white;
    z-index: 1000;
}

.mobilvenav__image{
    object-fit: contain;
    width:8%;
    border-radius:50%;
}
.mobilenav__line-container{
    background: transparent;
    display:flex;
    gap:.2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.mobilenav__line-active{
    z-index:1000;
    transform: rotate(45deg) translate(1px, 6px);
}
.mobilenav__line {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}
  
.line1Active {
    transform: rotate(45deg) translate(1px, 6px);
    }
  
.line2Active {
    transform: rotate(-45deg) translate(1px, -6px);
}
}
