.landing {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
   
    height: 100vh;
    background: black;
    color: white;
    justify-content: center;
    z-index: 50;
    padding-left:3rem;
    animation: fadeOut 0.5s ease 2.5s forwards;
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
.landing__image{
    width: 30%;
    height: 15%;   
}
.landing__header{
    font-weight:300;
    padding-bottom:1rem;

}

@media (max-width: 550px)  {
  .landing__image{
    width: 40%;
    height: 20%;   
}
}