.hero{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 30vw;
    padding-right: 5%;
    flex-direction: column;
    margin-top:13.25rem;
}
.hero__list{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width:50%;
    padding: 0vh 0px 0px 0px;
    margin-bottom: 1rem;

    
}
.hero__list-item{
    flex: 1 1 100%;
    font-size:.9rem;
    list-style: none;
    
}
.hero__paragraph{
    font-size: 4rem;
    max-width: 60%;
    margin-top: 0px;
    overflow-y: hidden;
}
@media (max-width: 750px) {
    .hero{
        padding-left:3rem;
        width: 100vw;
        margin-left: 0;
    }
    .hero__paragraph{
        min-width:85%;
    }
    .hero__list{
        width: 60%;
    }
}

@media (max-width: 450px) {
    .hero{
        padding-left:3rem;
        margin-right:1rem;
        width: 100vw;
        margin-left: 0;
    }
    .hero__paragraph{
        min-width:85%;
    }
    .hero__list{
        width:40%;
    }
}

@media (min-width: 3440px) and (max-width: 3440px) and (aspect-ratio: 3440/1440) {
    .hero{
        padding-left:1rem;
        margin-top: 12rem;
        margin-right:4rem;
        width: 100vw;
    }
}
