.hero{
    display: flex;
    min-height: 100vh;
    max-width: 70vw;
    margin-left: 30vw;
    padding-right: 1%;
    flex-direction: column;
    padding-top:19.5vh;
}
.hero__list{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width:50%;
    padding: 0vh 0px 0px 0px;
    margin-bottom: 1rem;
    
}
.hero__list-item{
    opacity: 0;
    flex: 1 1 100%;
    font-size:.9rem;
    list-style: none;
    overflow:hidden;
    cursor: pointer;
    transition: color 0.2s ease;
}

.active {
    color: #ffffff;
}
.inactive {
    color: grey;
}

.hero__list-item:hover{
    color:#ffffff;
}
.hero__header{
    font-size: 4rem;
    margin-top: 0px;
    overflow-y: hidden;
    max-width:70%;
}

/* Animations */

@keyframes slideUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.hero__header, .hero__list{
  position: relative;
  transform: translateY(50vh);
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}
.hero__list-item{
    opacity: 0;
    transform: translateX(-20px);
    animation: dropDown 0.4s forwards ease;
    animation-fill-mode: forwards;
  }



/* Apply delay per item */
.hero__list-item:nth-child(1) {
animation-delay: 0.6s;
}
.hero__list-item:nth-child(2) {
animation-delay: 1.2s;
}
.hero__list-item:nth-child(3) {
 animation-delay: 1.8s;
}
.hero__list-item:nth-child(4) {
animation-delay: 2.4s;
}
@keyframes dropDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
@media (max-width: 750px) {
    .hero{
        padding-left:3rem;
        min-width: 100vw;
        margin-left: 0;
    }
    .hero__paragraph{
        width: 80%;
    }
    .hero__list{
        width: 60%;
    }
}

@media (max-width: 550px) {
    .hero{
        padding-left:3rem;
        width: 100vw;
        margin-left: 0;
        font-size:12px;
        
    }
    .hero__paragraph{
        min-width:85%;
    }
    .hero__list{
        min-width:60%;
        max-width: 70%;
        display:flex;
        justify-content: space-between; 
        gap:.5rem;
    }
    .hero__header{
        font-size: 2.25rem;
    }
    .hero__list-item{
        font-size:.7rem;
        flex: 0 1 auto;   

    }
}

/*Smaller Screen Responsiveness*/




@media (min-width: 3440px) and (max-width: 3440px) and (aspect-ratio: 3440/1440) {
    .hero{
        padding-left:1rem;
        margin-top: 12rem;
        margin-right:4rem;
        width: 100vw;
    }
}
