.hero{
    display: flex;
    min-height: 100vh;
    margin-left: 30vw;
    padding-right: 1%;
    flex-direction: column;
    padding-top:19.5vh;
}
.hero__list{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width:50%;
    padding: 0vh 0px 0px 0px;
    margin-bottom: 1rem;
}
.hero__list-item{
    opacity: 0;
    flex: 1 1 100%;
    font-size:.9rem;
    list-style: none;
    overflow:hidden;
    cursor: pointer;
    transition: color 0.2s ease;
}

.active {
    color: #ffffff;
}
.inactive {
    color: grey;
}

.hero__list-item:hover{
    color:#ffffff;
}
.hero__header{
    font-size: var(--desktop-header-text-size);
    font-weight: 400;
    margin-top: 0px;
    overflow-y: hidden;
    max-width:80%;
}

/* Animations */

@keyframes slideUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.hero__header, .hero__list{
  position: relative;
  transform: translateY(50vh);
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
  animation-delay: 2.5s;
}
.hero__list-item{
    opacity: 0;
    transform: translateX(-20px);
    animation: dropDown 0.4s forwards ease;
    animation-fill-mode: forwards;
  }



/* Apply delay per item, calc = 0.6(each child) + splash page delay
   i.e. (0.6*1st child)= 0.6   0.6+2.5s = 3.1s
        (0.6*2nd child)= 1.2   1.2+2.5s = 3.6s
*/
.hero__list-item:nth-child(1) {
animation-delay: 3.1s; 
}
.hero__list-item:nth-child(2) {
animation-delay: 3.6s;
}
.hero__list-item:nth-child(3) {
 animation-delay: 4.1s;
}
.hero__list-item:nth-child(4) {
animation-delay: 4.6s;
}
@keyframes dropDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Smaller Screen Responsiveness*/

  
@media (max-width: 750px) {
    .hero{
        padding-left:3rem;
        min-width: 100vw;
        margin-left: 0;
    }
    .hero__header{
        width: 80%;
    }
    .hero__list{
        width: 60%;
    }
}

@media (max-width: 550px) {
    .hero{
        padding-left:1rem;
        width: 100vw;
        margin-left: 0; 
        padding-right: 1rem;
        
    }
    .hero__header{
        min-width:95%;
        max-width: 95%;
    }
    .hero__list{
        min-width:60%;
        max-width: 70%;
        display:flex;
        justify-content: space-between; 
        gap:.5rem;
    }
    .hero__header{
        font-size: var(--mobile-header-text);
    }
    .hero__list-item{
        font-size:.7rem;
        flex: 0 1 auto;   
    }
}

/* Mobile Devices in Landscape Mode */

@media only screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
    .hero{
        margin-bottom:100px;
    }
    .hero__header{
        font-size:3rem;
    }
}



@media (min-width: 3440px) and (max-width: 3440px) and (aspect-ratio: 3440/1440) {
    .hero{
        padding-left:1rem;
        margin-top: 12rem;
        margin-right:4rem;
        width: 100vw;
    }
}
