@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    background-color: #f7f7f7;
    overscroll-behavior: contain;
    font-family: inter;
    box-sizing: border-box;
    overflow-x: hidden;
}
h2{
 font-size: 4rem;
}

/* For screens with a minimum width of 450px */
@media (min-width: 250px) {
  html {
    font-size: 9px; /* 1rem = 15px */
  }
}

/* For screens with a minimum width of 750px */
@media (min-width: 750px) {
  html {
    font-size: 16px; /* 1rem = 16px */
  }
}

/* For screens with a minimum width of FHD (1920px) */
@media (min-width: 1920px) {
  html {
    font-size: 18px; /* 1rem = 18px */
  }
}

/* For screens with a minimum width of QHD (2560px) */
@media (min-width: 2560px) {
  html {
    font-size: 20px; /* 1rem = 20px */
  }
}

/* For screens with a minimum width of 4K (3840px) */
@media (min-width: 3840px) {
  html {
    font-size: 22px; /* 1rem = 22px */
  }
}