.values{
    display: flex;
    min-height: 100vh;
    max-width: 70vw;
    margin-left: 30vw;
    padding-right: 1%;
    flex-direction: column;
}

.values__title-container{
    margin-bottom: 3rem;
}

.values__title{
    font-size: var(--desktop-header-text);
    overflow: hidden;
    margin:0 0;
}

.values__paragraph-container--right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom:5rem;

}
.values__paragraph-container--left{
    display: flex;
    width: 100%;

    justify-content: flex-start;
    padding-bottom:5rem;
}
.values__paragraph {
    width: 50%;
    overflow: hidden;
    word-break: break-word;
  }
  
@media (max-width: 550px){
    .values{
        margin-left: 3rem;
        max-width: 95vw;
    }
    .values__title{
        font-size:var(--mobile-header-text);
        max-width:95%;
    }
    .values__paragraph-container--left{
        max-width:95%;
    }
    .values__paragraph-container--right{
        max-width:95%;
    }
    
}