.nav {
    width: 29vw;
    padding: 0;
}

.image__container {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.image {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.nav__container {
    width: 25vw;
    display: flex;   
    flex-direction: column;
    position: fixed;
    margin-top: 23.75vh;
    gap: 1rem;
}

/* Menu Drop Down Animation */
.nav__list-item {
    display: flex;
    list-style: none;
    width: auto;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: 2rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    animation: dropDown 0.4s forwards ease;
    animation-fill-mode: forwards;
}

.nav__list-item:nth-child(1) {
    animation-delay: 0.2s;
}
.nav__list-item:nth-child(2) {
    animation-delay: 0.4s;
}
.nav__list-item:nth-child(3) {
    animation-delay: 0.6s;
}
.nav__list-item:nth-child(4) {
    animation-delay: 0.8s;
}
.nav__list-item:nth-child(5) {
    animation-delay: 1.0s;
}
.nav__list-item:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes dropDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* New styles for active and inactive menu items */
.nav__list-item a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav__list-item.active a {
    color: white;
  }
@media (max-width: 750px) {
    .nav {
        display: none;
    }
}
