.nav__container {
    width: 25vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 0.4rem;
    height: 100vh;
}

.image__container {
    display: flex;
    padding-right: 1rem;
    overflow: hidden;
    padding-top: 19.5vh;
    padding-bottom: 2vh;
}

.image {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: dropBounce 1.8s ease-out 2s forwards; 
}

.nav__list-item {
    display: flex;
    background: transparent;
    font-size: 0.95rem;
    list-style: none;
    width: auto;
    display: inline-block;
    text-align: left;
    margin-right: 2rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    animation: dropDown 0.4s forwards ease;
    animation-fill-mode: forwards;
}

.nav__list-item a:hover {
    color: #ffffff;
}

.nav__list-item:nth-child(1) {
    animation-delay: 2.3s;
}
.nav__list-item:nth-child(2) {
    animation-delay: 2.6s;
}
.nav__list-item:nth-child(3) {
    animation-delay: 2.9s;
}
.nav__list-item:nth-child(4) {
    animation-delay: 3.2s;
}
.nav__list-item:nth-child(5) {
    animation-delay: 3.5s;
}
.nav__list-item:nth-child(6) {
    animation-delay: 3.8s;
}

@keyframes dropDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Self animation */
@keyframes dropBounce {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    40% {
        opacity: 1;
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Nav highlight */
.nav__list-item a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__list-item.active a {
    color: white;
}

/* Media Queries */
@media (max-width: 750px) {
    .nav {
        display: none;
    }
}
