.work{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 30vw;
    padding-right: 5%;
    flex-direction: column;
}
.work__title{
    overflow: hidden;
}
.work__container{
    
}

.work__works{
    display:flex;
    width: 50%;
    flex-direction: row;
}
.work__works-description{
    margin-left: 1rem;
}
.work__works-image{
    object-fit: fill;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 30vh;
    max-height: 30vh;
}
.work__works-title{
    overflow: hidden;

}
.work__works-paragraph {


}