.work{
    min-height: 100vh;
    max-width: 70vw;
    margin-left: 30vw;
    padding-right: 1%;
}
.work__title{
    overflow: hidden;
    font-size:4rem;
}
.work__container{
    max-width:70%;
}
.work__works{
    gap: 20px;
    display:flex;
    flex-direction: row;
    margin-bottom: 1rem;
    
}
.work__works-description{
    flex:1;
    overflow: hidden;
    
}
.work__works-image {
    flex:.5 1;
    border-radius: 10%;
    aspect-ratio: 1 / 1;
}
.work__works-paragraph{
    flex:1;
    overflow: hidden;

}
.work__works-title{
    overflow: hidden;
}

/*Smaller Screen Responsiveness*/


@media (max-width: 450px) {
    .work{
        padding-left:3rem;
        margin-right:1rem;
        min-width: 100vw;
        margin-left: 0;
        font-size:10px;
    }
    .work__title{
        font-size: 2.25rem;
    }
    .work__works-image {
        flex:.5 1;
        border-radius: 10%;
    }
    .work__works-description{
        flex:.5;
        overflow: hidden;
        
    }
}

@media (max-width: 750px) {
    .work{
        padding-left:3rem;
        min-width: 100vw;
        margin-left: 0;
    }

}


