.work{
    display: flex;
    min-height: 100vh;
    max-width: 49%;
    margin-left: 30vw;
    padding-right: 5%;
    flex-direction: column;
}
.work__title{
    overflow: hidden;
}
.work__works{
    gap: 20px;
    display:flex;
    flex-direction: row;
}
.work__works-description{
    flex:1;
    overflow: hidden;
}
.work__works-image {
    flex:.25 1;
    border-radius: 10%;
}
.work__works-paragraph{
    flex:1;
    overflow: hidden;
}
.work__works-title{
    overflow: hidden;
}
@media (max-width: 450px) {
    .work{
        padding-left:3rem;
        margin-right:1rem;
        width: 100vw;
        margin-left: 0;
        font-size:12px;
    }

}